{% extends 'usuario.html' %}
{% block title %}
    Anotacion del documento {{ anotacion }}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="col-12">
      <h3>@TODO, agregar wysywyg para editar texto</h3>
      <div>

      </div>
    </div>


    <div class="col-12">
      <h3>Archivo Original (PDF)</h3>
      <div>
          <embed src="{{ anotacion.get_url_file }}" width="800px" height="800px" />
      </div>
    </div>
    <div class="col-12">
      <h3>Texto plano:</h3>
      <div>
          <p> {{ anotacion.get_texto }}</p>
      </div>
    </div>

{% endblock %}
